node_modules/
.DS_Store
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/**/*.json
!cypress/reports/auth-json/**/*.json
!cypress/reports/tasks-json/**/*.json
!cypress/videos/**
